<script>
  function load_desk(token) {
    location.href = "/desks/" + token;
  }
</script>

<li><b>Desk #<%= desk.id %> - <%= desk.game_name %> created by <%= desk.user.nickname %></b> — 
                                       <a onclick="load_desk(<%= "'#{desk.token}'" %>)" href="">Open</a> </li>