<p id="notice"><%= notice %></p>

<h1>
  Desks
</h1>
<p>Press one of the buttons - 'chess' or 'checkers'.
   Invite someone to play by sending him a link to the page, to the mail, for example.
   Good game!
</p>

<ul class="mt-4 list-unstyled">
  <%= render @desks %>
</ul>

<div class="mt-2">
  <%= render 'desks/form', desk: @desk %>
</div>
