.messages {
  overflow: none;
  position: relative;
  height: 60vh;
  border: 1px solid #f0f0f0;

  &-inner {
    overflow: auto;
    position: absolute;
    max-height: 60vh;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .message {
    margin-left: 0;
    margin-right: 0;
  }
}
